body{
    background-color: #fff; 
}
.product {
    margin: 50px;
    background-color: #fff;
}
.nameProduct p {
    display: block;
    height: 46px;
    color: #307fbe;
    background-color: #fff;
    line-height: 46px;
    font-weight: 700;
}
.product div {
    display: block;
    margin: 0;
    padding: 0;
}
.nameProduct {
    display: block;
    margin-top: 50px;
    padding: 15px 5px;
    color: #000;
    border-left: 4px solid #307fbe;
}
.infor_product {
    display: block;
    height: 50%;
}
    
.imgine_product {
    display: block;
    padding: 0;
    margin: 0;
}
    
.product img {
     margin-left: auto;
     margin-right: auto;
     display: block;
    width: 40%; 
}
.product .detail_product {
    display: block;
    margin-top : 0;
    padding-top: 0;
}
tr {
    display: block;
    width: 100%;
}
table, th, td {
    text-align: left;
    height: 100%;
    border-collapse: collapse;
  }
  th, td {  
    padding: 5px;
    text-align: left;   
    border-bottom: 1px solid rgb(0 0 0 / 30%); 
  }
.attribute-label{
    width: 200px;
}
.attribute-value{
    width: 1200px;
}
